<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <title>Doc2PDF</title>
</head>
<body style="background-image: url({% static 'img/background.png' %}); background-size: cover; background-repeat: no-repeat;">
    <div class="main-outer">
        <div class="main" align="center">
            <div class="page-title">CONVERT <span class="doc-color">DOC</span> TO <span class="pdf-color">PDF</span></div>
            <hr width="35%" size="2" color="#fff" />
            <p class="page-description description-1">IT'S SO EASY! JUST</p>

            <form method="POST" enctype="multipart/form-data" action="/convert/">
                {% csrf_token %}

                <label for="files" class="doc-bg-color choose-files-button">CHOOSE FILES</label>
                <br>
                <input id="files" style="visibility: hidden;" type="file" accept=".docx" name="files" multiple>

                <p class="page-description description-2">AND</p>
                <button class="pdf-bg-color convert-button">CONVERT!</button>
            </form>
        </div>
    </div>
</body>
</html>
